fastapi
sqlalchemy
pydantic
requests
python-dotenv
pydantic-settings
uvicorn[standard]
gradio-client
moviepy
huggingface_hub
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2